<div class="position-relative d-flex p-0" id="top">
        <!-- Spinner Start -->
        <%= render "shared/sidebar" %>
            <!-- Navbar End -->

            <!-- Start Content -->
            <div class="content pb-3">
              <%= render "shared/navbar" %>
            <div class="container-fluid py-2 px-3 mt-3">
                <div class="card-panel bg-white radius-10">
                       
                    <div class="row g-0"> 
                        <div class="col-xl-9 col-md-8 border-right"> 
                            <div class="p-4">
                                <div class="d-flex flex-wrap justify-content-between align-items-center page-header"> 
                                    <h1 class="h2 mb-2">Dashboard</h1> 
                                    <select class="form-select form-control mb-2" aria-label="Default select">
                                        <option selected="">Today</option>
                                        <option value="1">Yesterday</option>
                                        <option value="2">Last 7 days</option>
                                        <option value="3">1 Month</option>
                                    </select>
                                </div>
                                <!-- End Page Title -->
                                <div class="row g-3 dashboard_cards"> 
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3 mt-3 mt-xl-4 pt-lg-3"> 
                                        <div class="card border-0"> 
                                            <div class="card-body">  
                                                <h6 class="fs-14 text-capitalize">Total Revenue</h6> 
                                                <div class="d-flex justify-content-between align-items-center mt-3"> 
                                                    <h2 class="mb-0 number-font">44,278</h2> 
                                                    <span class="fs-12">
                                                        +9.15% 
                                                        <i class="ms-1"><img src="<%= asset_path("img/icons/up_rev_icon.svg")%>" alt="" width="12" /></i>                                                        
                                                    </span> 
                                                </div>
                                            </div>                                            
                                        </div> 
                                    </div> 

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3 mt-3 mt-xl-4 pt-lg-3"> 
                                        <div class="card border-0"> 
                                            <div class="card-body">  
                                                <h6 class="fs-14 text-capitalize">Total Orders</h6> 
                                                <div class="d-flex justify-content-between align-items-center mt-3"> 
                                                    <h2 class="mb-0 number-font">1,156</h2> 
                                                    <span class="fs-12">
                                                        -0.56%
                                                        <i class="ms-1"><img src="<%= asset_path("img/icons/down_rev_icon.svg")%>" alt="" width="12"/></i>                                                        
                                                    </span> 
                                                </div>
                                            </div>                                            
                                        </div> 
                                    </div> 
                                   
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3 mt-3 mt-xl-4 pt-lg-3"> 
                                        <div class="card border-0"> 
                                            <div class="card-body">  
                                                <h6 class="fs-14 text-capitalize">Active Retailers</h6> 
                                                <div class="d-flex justify-content-between align-items-center mt-3"> 
                                                    <h2 class="mb-0 number-font">207</h2> 
                                                    <span class="fs-12">
                                                        -1.48%
                                                        <i class="ms-1"><img src="<%= asset_path("img/icons/down_rev_icon.svg")%>" alt="" width="12"/></i>                                                        
                                                    </span> 
                                                </div>
                                            </div>                                            
                                        </div> 
                                    </div> 
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3 mt-3 mt-xl-4 pt-lg-3"> 
                                        <div class="card border-0"> 
                                            <div class="card-body">  
                                                <h6 class="fs-14 text-capitalize">Distance Covered (miles)</h6> 
                                                <div class="d-flex justify-content-between align-items-center mt-3"> 
                                                    <h2 class="mb-0 number-font">207</h2> 
                                                    <small class="fs-12">
                                                        +11.01%
                                                        <i class="ms-1"><img src="<%= asset_path("img/icons/up_rev_icon.svg")%>" alt="" width="12"/></i>                                                        
                                                    </small> 
                                                </div>
                                            </div>                                            
                                        </div> 
                                    </div> 

                                </div> 
                                <!-- End Dashboard Cards -->

                                <div class="p-4 mt-4 grey-light-bg radius-10">
                                    <div class="d-flex flex-wrap justify-content-between">
                                        <h6 class="f2-14 mb-4">Traffic by Device</h6>
                                        <div class="d-flex justify-content-center mb-4"> 
                                            <div class="d-flex align-items-center justify-content-center me-3 fs-12">
                                                <span class="dot-label active"></span> Total Sales
                                            </div> 
                                            <div class="d-flex align-items-center justify-content-center fs-12">
                                                <span class="dot-label"></span> Total Orders
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="graph_canvas">
                                        <img src="<%= asset_path("img/chart/revenue_chart.png")%>" alt="" class="w-100" />
                                    </div>
                                </div>
                                <!-- End Total Revenue -->

                                <div class="row">
                                    <div class="col-lg-6 col-md-12 mt-4">
                                        <div class="p-4 grey-light-bg radius-10 h-100">
                                            <div class="d-flex flex-wrap justify-content-between">
                                                <h6 class="f2-14 mb-4">Orders by Location</h6> 
                                            </div>
                                            <div class="graph_canvas">
                                                <img src="<%= asset_path("img/chart/traffic_chart.png")%>" alt="" class="w-100" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 mt-4">
                                        <div class="p-4 grey-light-bg radius-10 h-100">
                                            <div class="d-flex flex-wrap justify-content-between">
                                                <h6 class="f2-14 mb-4">Orders by Location</h6> 
                                            </div>
                                            <div class="graph_canvas">
                                                <img src="<%= asset_path("img/chart/location_chart.png")%>" alt="" class="w-100" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-4">
                            <div class="p-3 listing_ul">
                                <h6 class="h6 mb-4">Notifications</h6>
                                <ul class="list-unstyled ul_list">
                                    <li>
                                        <em><img src="<%= asset_path("img/icons/notifications/BugBeetle.svg")%>" alt="" width="13"/></em>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">Lorem ipsum dolor sit amet to be fixed.</h6>
                                            <small class="fs-12">5m ago</small>
                                        </div>
                                    </li>
                                    <li>
                                        <em><img src="<%= asset_path("img/icons/notifications/user.svg")%>" alt="" width="13"/></em>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">New driver registered.</h6>
                                            <small class="fs-12">5m ago</small>
                                        </div>
                                    </li>
                                    <li>
                                        <em><img src="<%= asset_path("img/icons/notifications/BugBeetle.svg")%>" alt="" width="13"/></em>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">Lorem ipsum dolor sit amet to be fixed.</h6>
                                            <small class="fs-12">5m ago</small>
                                        </div>
                                    </li>
                                    <li>
                                        <em><img src="<%= asset_path("img/icons/notifications/user.svg")%>" alt="" width="13"/></em>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">Lorem ipsum dolor sit amet to be fixed.</h6>
                                            <small class="fs-12">5m ago</small>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Notification -->
                            <div class="p-3 listing_ul">
                                <h6 class="h6 mb-4">Activities</h6>
                                <ul class="list-unstyled ul_list">
                                    <li>
                                        <figure class="mb-0"><img src="<%= asset_path("img/avatar1.jpg")%>" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">Edited the details of Store 1</h6>
                                            <small class="fs-12">5m ago</small>
                                        </div>
                                    </li>
                                    <li>
                                        <figure class="mb-0"><img src="<%= asset_path("img/avatar.jpg")%>" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">ByeWind</h6>
                                            <small class="fs-12">1:32 AM</small>
                                        </div>
                                    </li>
                                    <li>
                                        <figure class="mb-0"><img src="<%= asset_path("img/avatar.jpg")%>" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">Create a profile</h6>
                                            <small class="fs-12">Yesterday 12:39 AM</small>
                                        </div>
                                    </li>
                                    <li>
                                        <figure class="mb-0"><img src="<%= asset_path("img/avatar.jpg")%>" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">Modified A data in her profile</h6>
                                            <small class="fs-12">Last Thursday 3:34 AM</small>
                                        </div>
                                    </li> 
                                    <li>
                                        <figure class="mb-0"><img src="<%= asset_path("img/avatar.jpg")%>" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">Deleted a profile in Driver’s list</h6>
                                            <small class="fs-12">Aug 11</small>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Activities -->
                            <div class="p-3 listing_ul">
                                <h6 class="h6 mb-4">Activities</h6>
                                <ul class="list-unstyled ul_list">
                                    <li>
                                        <figure class="mb-0"><img src="<%= asset_path("img/avatar.jpg")%>" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0 text-capitalize">Natali Craig</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <figure class="mb-0"><img src="<%= asset_path("img/avatar.jpg")%>" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0 text-capitalize">Drew Cano</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <figure class="mb-0"><img src="<%= asset_path("img/avatar.jpg")%>" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0 text-capitalize">Orlando Diggs</h6>
                                        </div>
                                    </li>
                                    <li>
                                        <figure class="mb-0"><img src="<%= asset_path("img/avatar.jpg")%>" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0 text-capitalize">Andi Lane</h6>
                                        </div>
                                    </li> 
                                    <li>
                                        <figure class="mb-0"><img src="<%= asset_path("img/avatar.jpg")%>" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0 text-capitalize">Koray Okumus</h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    
    
                </div>
            </div>

        </div>
        <!-- End Content  -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="<%= asset_path("js/main.js")%>"></script>