<div class="position-relative d-flex p-0" id="top">
        <!-- Spinner Start -->
        <%= render "shared/sidebar" %>
            <!-- Navbar End -->

            <!-- Start Content -->
            <div class="content pb-3">
              <%= render "shared/navbar" %>
            <!-- Start Content -->
       
            <div class="container-fluid py-2 px-3 mt-3">
                <div class="card-panel bg-white p-4 radius-10">

                    <div class="d-flex flex-wrap justify-content-between align-items-center page-header">
                        <h1 class="h2 mb-2">My Profile</h1> 
                        <div class="d-flex justify-content-end">
                           
                         <%= link_to "Edit", editprofile_path,class:"btn btn-sm btn-white" %>
                                
                        </div>
                    </div>

                    <div class="preview">
                        <div class="row">
                            <div class="col-md-4 col-lg-3 mt-3">
                                <label class="mb-2 text-capitalize fs-14">First Name</label>
                                <div class="mb-4">
                                    <h6 class="h6"><%= @infor.fname%></h6>
                                </div>
                            </div> 
                            <div class="col-md-4 col-lg-3 mt-3">
                                <label class="mb-2 text-capitalize fs-14">Last Name</label>
                                <div class="mb-4">
                                    <h6 class="h6"><%= @infor.lname%></h6>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 mt-3">
                                <label class="mb-2 text-capitalize fs-14">Gender</label>
                                <div class="mb-4">
                                    <h6 class="h6"><%= @infor.gender%></h6>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 mt-3">
                                <label class="mb-2 text-capitalize fs-14">Age</label>
                                <div class="mb-4">
                                    <h6 class="h6"><%= @infor.age%></h6>
                                </div>
                            </div>
                            <div class="col-md-4 col-lg-3 mt-3">
                                <label class="mb-2 text-capitalize fs-14">Address</label>
                                <div class="mb-4">
                                    <h6 class="h6"><%= @infor.address%></h6>
                                </div>
                            </div>
                            
                        </div>
                        
                    </div>

                </div>
            </div>

        </div>
        <!-- End Content  -->
    </div>
    <!-- End -->

    

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="assets/js/main.js"></script>
    <script>
        $('#selectAll').click(function (e) {
            $(this).closest('table').find('td input:checkbox').prop('checked', this.checked);
        });
    </script>