<div class="position-relative d-flex p-0" id="top">
        <!-- Spinner Start -->
        <%= render "shared/sidebar" %>
            <!-- Navbar End -->

            <!-- Start Content -->
            <div class="content pb-3">
              <%= render "shared/navbar" %>
            <div class="container-fluid py-2 px-3 mt-3">
                <div class="card-panel bg-white radius-10">
                       
                    <div class="row g-0"> 
                        <div class="col-xl-12 col-md-12"> 
                            <div class="p-4">
                                <div class="d-flex flex-wrap justify-content-between align-items-center page-header"> 
                                    <h1 class="h2 mb-2">User Management</h1> 
                                    
                                </div>
                                <!-- End Page Title -->

                            </div>
                        </div>
                        </div>  
                        <form class="m-4 mb-0">
                          <div class="form-row">
                            <div class="col m-4">
                              <input class="form-control mr-sm-2" list="datalistOptions" id="search" placeholder="Type to search...">
                              <datalist id="datalistOptions" >
                                
                              </datalist>
                              </div>
                            
                          </div>
                        </form>
              
                       

                          <div id="clients" class = "m-3" >
                            <table class = "table table-striped">
                              <thead class="table-dark">
                                <th>
                                  <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <i class="fa-sharp fa-solid fa-down"></i>
                                      </div>
                                </th>
                                <th id = "sortItems">Name&nbsp;<i class="fa-sharp fa-solid fa-sort"></i></th>
                                <th id = "sortEmail">Email &nbsp;<i class="fa-sharp fa-solid fa-sort"></i></th>
                                <th>Phoneno</th>
                                <th>Status</th>

                                <th colspan="4"></th>
                              </thead>
                              <tbody id = "datarecords">  
                                <% @clients.each do |client| %>
                                  <%= render  "clientTable", c: client %>
                                <% end %>      
                              </tbody>
                            </table>

                          </div>

                          <div class="m-3"><%= link_to "", new_client_path,class:"fa-solid fa-user-plus text-decoration-none"%></div>
                        </div>
                        <div class="d-flex justify-content-center" id="pagination">
                           <%== pagy_bootstrap_nav(@pagy, link_extra: 'data-turbo= "false"')%>
                       </div>
    
                </div>
            </div>

        </div>
        <!-- End Content  -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="<%= asset_path("js/main.js")%>"></script>















